BODY  { background: #ffffff; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; }
FORM  { margin: 50px auto; width: 500px; }
.height_10  { padding: 10px 0 0 0; }

.formularz FIELDSET { border: none; }
.formularz LEGEND   { font-size: 1.5em; font-weight: bold; margin: 0; padding: 0 0 15px 0; text-decoration: underline; }

.formularz LABEL        { color: #C02942; display: block; font-size: 1.1em; font-weight: bold; margin: 0; padding: 0 0 5px 0; }
.formularz LABEL.error  { background: #ECD078; color: #C02942; margin: 5px 0 10px 0; padding: 5px; width: 290px; }

.formularz INPUT,
.formularz TEXTAREA       { border: 1px solid #542437; color: #542437; font-family: Arial, Helvetica, sans-serif; font-size: 1.1em; padding: 5px; width: 288px; }
.formularz INPUT:focus,
.formularz TEXTAREA:focus { border: 1px solid #53777A; }

.formularz INPUT[type=submit] { background: #53777A; border: 1px solid #542437; color: #ffffff; cursor: pointer; font-weight: bold; width: 300px; }